* {
  margin: 0;
  padding: 0;
}

header {
  margin-top: 60px;
  display: block;
  text-align: center;
  font-family: "Otomanopee One", sans-serif;
}

nav ul {
  margin-top: 60px;
  word-spacing: 200px;
  text-align: center;
}
nav > ul > li {
  display: inline-block;
  font-family: "Otomanopee One", sans-serif;
}

nav > ul > li > a:link,
nav > ul > li > a:visited {
  text-decoration: none;
  color: slategray;
}

nav > ul > li > a:hover,
nav > ul > li > a:active {
  color: red;
  text-decoration: underline;
}

#border {
  margin-top: 60px;
  height: 55px;
  background: #afbe8f;
}

#border-2 {
  position: relative;
  height: 400px;
  bottom: 4px;
  background: #414930;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

main img {
  margin: 0;
  width: min(100%, 70.5rem);
}

footer {
  position: relative;
  background-color: red;
  height: 80px;
  bottom: 4px;
}
